In [1]:
l1 = [1,2,3,4,5,10.5,11.5,12.5,13.5,'A','B','C','D',"Marilag","Vanessa","Benjir","Lino"]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
<class 'list'>

In [2]:
print("Current list : ",l1)
print("Size : ",len(l1))

Current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
Size :  17

In [3]:
print("****print a value between 1 to 10****")
print(l1[1:11])

****print a value between 1 to 10****
[2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B']

In [4]:
print("****Print all the values after index 2****")
print(l1[2:17])

****Print all the values after index 2****
[3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']

In [5]:
print("Current list : ",l1)
print("size : ",len(l1))
l1[8] = "sunit"
print("update list : ",l1)

Current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
size :  17
update list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']

In [6]:
print("Current list : ",l1)
print("size : ",len(l1))
l1.append("mango")
print("updated list : ",l1)

Current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
size :  17
updated list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'mango']

In [8]:
print("Current list : ",l1)
print("size : ",len(l1))

l1.remove(2)
print("updated list : ",l1)
print("size : ",len(l1))

Current list :  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'mango']
size :  18
updated list :  [1, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'mango']
size :  17

In [9]:
print("Current list : ",l1)
print("size : ",len(l1))

l1.pop()
print("updated list : ",l1)
print("size : ",len(l1))

Current list :  [1, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino', 'mango']
size :  17
updated list :  [1, 3, 4, 5, 10.5, 11.5, 12.5, 'sunit', 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Benjir', 'Lino']
size :  16

In [10]:
l2 = ["apple","mango","kiwi","orange"]

for i in l2:
    print(i," = ",len(i))

apple  =  5
mango  =  5
kiwi  =  4
orange  =  6

In [13]:
Ecommerce = [
    "Mobiles",["Samsung","OnePlus","Iphone",[14000,20000,40000]],
    "Laptop",["Dell","Hp","Acer",[25000,35000,45000]],
    "Clothes",["Men","Women",[50,100]]
]
print(Ecommerce)

['Mobiles', ['Samsung', 'OnePlus', 'Iphone', [14000, 20000, 40000]], 'Laptop', ['Dell', 'Hp', 'Acer', [25000, 35000, 45000]], 'Clothes', ['Men', 'Women', [50, 100]]]

In [18]:
print(Ecommerce,([0],[0],[1,2])([1],[1],[1]))

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1576\1337487999.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  print(Ecommerce,([0],[0],[1,2])([1],[1],[1]))

TypeError: 'tuple' object is not callable