In [1]:
a = 10
print(a)

10

In [2]:
b = "bryan"
print(b)

bryan

In [3]:
name = input("Enter your name:")
print(name)

Enter your name:lala
lala

In [4]:
c = 38
print(c)
print(type(c))

38
<class 'int'>

In [5]:
d = "mike"
print(d)
print(type(d))

mike
<class 'str'>

In [6]:
value1 = int(input("Value 1 : "))
value2 = int(input("value 2 : "))
result = value1+value2
print(result)

Value 1 : 1
value 2 : 2
3

In [7]:
value1 = int(input("Value 1 : "))
value2 = int(input("value 2 : "))
result = value1*value2
print(result)

Value 1 : 6
value 2 : 7
42

In [8]:
value1 = int(input("Value 1 : "))
value2 = int(input("value 2 : "))
result = value1-value2
print(result)

Value 1 : 3
value 2 : 5
-2

In [9]:
value1 = int(input("Value 1 : "))
value2 = int(input("value 2 : "))
result = value1/value2
print(result)

Value 1 : 10
value 2 : 2
5.0